<h2><%= @post.title %></h2>
<p><i>Créé le : <%= @post.updated_at.strftime('%d/%m/%Y') %></i></p>
<p><strong><%= @post.kicker %></strong></p>
<p><%= @post.body %></p>
<p>Auteur : <%= link_to @user do %>
    <%= @user.full_name %>
  <% end %>
</p>
<% if current_user.id == @user.id %>
  <%= link_to 'Éditer', [:edit, @user, @post], class: 'btn btn-success' %>
<% end %>