<%= form_for @post, url: [@user, @post] do |f| %>
  <div class="form-group">
    <label>Titre</label>
    <%= f.text_field :title, :class=>'form-control'%>
    <% if @post.errors[:title].present? %>
      <%= @post.errors[:title].to_sentence %>
    <% end %>
  </div>
  <div class="form-group">
    <label>Chapeau</label>
    <%= f.text_field :kicker, :class=>'form-control' %>
    <% if @post.errors[:kicker].present? %>
      <%= @post.errors[:kicker].to_sentence %>
    <% end %>
  </div>
  <div class="form-group">
    <label>Corps</label>
    <%= f.text_area :body, :class=>'form-control' %>
    <% if @post.errors[:body].present? %>
      <%= @post.errors[:body].to_sentence %>
    <% end %>
  </div>
  <!--  TODO : rajouter l'image-->
  <%= f.submit :class=>'btn btn-primary' %>
<% end %>