<!DOCTYPE html>
<html lang="en">
<head>
  <title>RubyBlog</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
<h1>RubyBlog</h1>
<%= yield %>
</body>
</html>
